*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .navbar {
    position: fixed;
    width: 100%;
    height: 90%;
} */
.nav-item {
    padding-inline: 30px;
    border : 1px;
    border-right: 1px solid;
}
.nav-items {
    padding-inline: 30px;
    border: 1px;
}
.nav-link {
    color: ;
}
.navbar ul li {
    position: relative;
    height: auto;
    /* width: 100px; */
    float: left;
    text-align: center;
    list-style: none;
    background: transparent;
}
body {
    width: 100%;
    height: 200vh;
    background: url('https://i.postimg.cc/mrKVNK2M/kkjh.jpg');
}
h2 {
    color: rgba(1, 0, 102, 1);
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
h2 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}
.col img {
    transition: 0.25s !important;
    transition-duration: 0.25s !important;
    transition-timing-function: ease !important;
    transition-delay: 0s !important;
    transition-property: all !important;
}
p {
    text-align: justify;
}
.footer {
    display: block;
}
.footer {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(to bottom, #283244 0%, rgba(21, 26, 35, 0.95) 100%);
    color: rgba(225, 225, 225, 0.5);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-size: 13px;
    border: 1px solid rgba(225, 225, 225, 0.15);
}
/* about styling */
